<div class="add-row-editable-table">
    <button class="btn btn-primary" ng-click="getAllTransactions()">Get transactions</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td></td>
    <td>Date</td>
    <td>Balance</td>
    <td>Category</td>
    <td>Type</td>
    <td>Actions</td>
  </tr>
  <tr ng-repeat="tx in transactions" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
        <span editable-text="tx.creationDate" e-name="creationDate" e-form="rowform" e-required>
          {{ tx.creationDate || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="tx.currencyRatio" e-name="currencyRatio" e-form="rowform" e-selectpicker>
          {{ tx.currencyRatio || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="tx.payeeAmount" e-name="payeeAmount" e-form="rowform" e-selectpicker>
              <!--e-ng-options="g.id as g.text for g in groups">-->
          {{ tx.payeeAmount || 0 }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="tx.transactionType" e-name="transactionType" onshow="loadGroups()" e-form="rowform" e-selectpicker>
              <!--e-ng-options="g.id as g.text for g in groups">-->
          {{ tx.transactionType || 'empty' }}
        </span>
    </td>
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == acc">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeAccount($index)">Delete</button>
      </div>
    </td>
  </tr>
</table>

<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="getAllAccounts()">Get accounts</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td></td>
    <td>Name</td>
    <td>Balance</td>
    <td>Currency</td>
    <td>Type</td>
    <td>Category</td>
    <td>Actions</td>
  </tr>
  <tr ng-repeat="acc in accounts" class="editable-row">
    <td>
      {{$index}}
    </td>
    <td hidden>
        <span editable-text="acc.id" e-name="id" e-form="rowform" e-required>
          {{ acc.id || 'empty' }}
        </span>
    </td>
    <td>
        <span editable-text="acc.note" e-name="name" e-form="rowform" e-required>
          {{ acc.note || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="acc.balance" e-name="balance" e-form="rowform" e-selectpicker>
          {{ acc.balance || 0 }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="acc.currency" e-name="currency" e-form="rowform" e-selectpicker>
              <!--e-ng-options="g.id as g.text for g in groups">-->
          {{ acc.currency || 0 }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="acc.type" e-name="type" onshow="loadGroups()" e-form="rowform" e-selectpicker>
              <!--e-ng-options="g.id as g.text for g in groups">-->
          {{ acc.accountType || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="acc.category" e-name="caregory" onshow="loadGroups()" e-form="rowform" e-selectpicker>
            <!--e-ng-options="c.value as c.text for c in categories">
          {{ showCategory(acc) }}-->
            {{ acc.category || 'empty' }}
        </span>
    </td>
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == acc">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeAccount($index, acc)">Delete</button>
      </div>
    </td>
  </tr>
</table>
