<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create new account</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="accountNote">Text</label>
            <input type="text" class="form-control" id="accountNote" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="accountType">Text</label>
            <input type="text" class="form-control" id="accountType" placeholder="Account Type">
        </div>
        <div class="form-group">
            <label for="balance">Text</label>
            <input type="number" class="form-control" id="balance" placeholder="Balance">
        </div>
        <div class="form-group">
            <label for="currency">Text</label>
            <input type="text" class="form-control" id="currency" placeholder="Currency">
        </div>
        <div class="form-group">
            <label for="category">Text</label>
            <input type="text" class="form-control" id="category" placeholder="Category">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">Save account</button>
    </div>
</div>
